// general color pallete
$color-green: #91cd81;
$color-green-light: #d7e2d4;
$color-skin: #e3bb83;
$color-skin-light: #f0ddc3;
$color-brown: #dca57c;
$color-brown-light: #e0d4cb;
$color-black: #444444;
$color-black-light: #666666;
